<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="google-site-verification" content="mFGv54ULzFqYaqaS0oKPzVd0pZ1ExO8ltRMvhki58eM" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
<style>
h1, h2, p, h3, h4, h5, body{
margin-bottom: 0.75rem;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    color: #212529;
}   
 p, ul, li {
     font-size: 20px !important;
     line-height: 150%;
 }   
</style>
<!-- <script src="javascripts/bootstrap.min.js"></script> -->

<title><%= title %></title>
<meta name="description" content="<%= metaDescription %>"/>
<%if (canonical_1_name) { %>
    <link rel="<%= canonical_1_name %>" href="<%= canonical_1_value %>" />
<% } %>
<%if (canonical_2_name) { %>
    <link rel="<%= canonical_2_name %>" href="<%= canonical_2_value %>" />
<% } %>
<%if (robots_1_name) { %>
    <meta name="<%= robots_1_name %>" content="<%= robots_1_value %>" />
<% } %>
<%if (robots_2_name) { %>
    <meta name="<%= robots_2_name %>" content="<%= robots_2_value %>" />
<% } %>


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K9SL32W');</script>
    <!-- End Google Tag Manager -->
</head>