<div class="row">
  <div class="col-xs-12 col-md-2 pl-5" style="border-right: 1px solid grey;">

    <p class="menu-label">
      TEST CATEGORIES
    </p>

    <p><a href="/indexing">Indexing</a></p>
    <p><a href="/cloaking">Cloaking</a></p>


  </div>

  <div class="col-xs-12 col-md-10 pl-5">
    <h3 class="font-weight-bold my-3"><%= testName %></h3>
    <hr />
    <%- bodyDescription %>

    <hr />
    <h4 class="display-5 my-5 font-weight-bold"> Specific to this page</h3>
      <p><a href="https://www.google.com/search?q=<%- googleIndex %>" rel="noopener" target="_blank"> Check Google
          index for this page</a></p>
      <h5 class="display-5 my-5">Your Request Headers
    </h4>
    <div class="table-responsive">

      <table class="table is-bordered is-striped is-narrow is-hoverable">
        <th>Header</th>
        <th>Value</th>
        <tr>
          <td>IP Address or XFF</td>
          <td><%- ipAddress %></td>
        </tr>
        <tr>
          <td>Host</td>
          <td><%- headers.host %></td>
        </tr>
        <tr>
          <td>User-agent</td>
          <td><%- headers['user-agent'] %></td>
        </tr>
        <tr>
          <td>Accept-language</td>
          <td><%- headers['accept-language'] %></td>
        </tr>
        <tr>
          <td>O/S</td>
          <td id="operating-system"></td>
        </tr>
        <tr>
          <td>Device Screen height</td>
          <td id="screen-height"></td>
        </tr>
        <tr>
          <td>Device screen width</td>
          <td id="screen-width"></td>
        </tr>
        <tr>
          <td>Viewport height</td>
          <td id="viewport-height"></td>
        </tr>
        <tr>
          <td>Viewport width</td>
          <td id="viewport-width"></td>
        </tr>
        <tr>
          <td>Cookies enabled</td>
          <td id="cookies"></td>
        </tr>
        <tr>
          <td>Referer</td>
          <td><%- headers.referer %></td>
        </tr>
      </table>
    </div>
    <hr />
    <h4 class="display-5 my-5">Verified Googlebot hits to this page</h4>
    <script>
      const result = fetch('/logs?queryUrl=' + document.location.pathname)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          console.log(data)
          let jData = JSON.stringify(data)
          let jparse = JSON.parse(jData)
          let template = `
            <div class="table-responsive">
           <table class="table is-bordered is-striped is-narrow is-hoverable">
            <th>Time</th>
            <th>URI</th>
            <th>Status Code</th>
            <th>Ip address</th>
            <th>User Agent</th>
            `;

          for (var i = 0; i < data.length; i++) {
            let d = new Date(data[i].time).toLocaleDateString("en-US")
            let timeDate = d
            template += `
            
            <tr>
            <td>${data[i].time}</td>
            <td>${data[i].url}</td>
            <td>${data[i].statusCode}</td>
            <td>${data[i].remoteAddress}</td>
            <td>${data[i].userAgent}</td>
            
            <td></td>
            </tr>
          `
          }

          template += `  </table>
            </div>`
          document.getElementById("hello").innerHTML = template





        });
    </script>



    <div id="hello"></div>
    <div id="chart-1-container"></div>
    <div id="chart-2-container"></div>




  </div> -->

</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById("operating-system").innerText = window.navigator.appVersion;
    document.getElementById("screen-height").innerText = window.screen.availHeight;
    document.getElementById("screen-width").innerText = window.screen.availWidth;
    document.getElementById("viewport-height").innerText = document.documentElement.clientHeight;
    document.getElementById("viewport-width").innerText = document.documentElement.clientWidth;
    document.getElementById("cookies").innerText = navigator.cookieEnabled;
  })
</script>


<script>
  fetch('/token').then(r => r.json()).then(data => {
    token = data.access_token;
    console.log(token)
    gapi.analytics.ready(function () {

      /**
       * Authorize the user with an access token obtained server side.
       */
      gapi.analytics.auth.authorize({
        'serverAuth': {
          'access_token': token
        }
      });


      /**
       * Creates a new DataChart instance showing sessions over the past 30 days.
       * It will be rendered inside an element with the id "chart-1-container".
       */
      var dataChart1 = new gapi.analytics.googleCharts.DataChart({
        query: {
          'ids': 'ga:216309965', // <-- Replace with the ids value for your view.
          'start-date': '30daysAgo',
          'end-date': 'yesterday',
          'metrics': 'ga:sessions,ga:users',
          'dimensions': 'ga:date'
        },
        chart: {
          'container': 'chart-1-container',
          'type': 'LINE',
          'options': {
            'width': '100%'
          }
        }
      });
      dataChart1.execute();


      /**
       * Creates a new DataChart instance showing top 5 most popular demos/tools
       * amongst returning users only.
       * It will be rendered inside an element with the id "chart-3-container".
       */
      var dataChart2 = new gapi.analytics.googleCharts.DataChart({
        query: {
          'ids': 'ga:216309965', // <-- Replace with the ids value for your view.
          'start-date': '30daysAgo',
          'end-date': 'yesterday',
          'metrics': 'ga:pageviews',
          'dimensions': 'ga:pagePathLevel1',
          'sort': '-ga:pageviews',
          'max-results': 7
        },
        chart: {
          'container': 'chart-2-container',
          'type': 'PIE',
          'options': {
            'width': '100%',
            'pieHole': 4 / 9,
          }
        }
      });
      dataChart2.execute();

    });

  })
</script>